@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background:  hsl(185, 75%, 39%);
    font-size: 18px;
} 

main{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 360px;
    height: 399px;
    z-index: 1000;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 15px 40px 1px hsl(227, 10%, 46%);
    overflow: hidden;
    border: hidden;
}


.card-img-profile{
    border-radius: 50%;
    border: 5px solid #fff;
}

.img-top {
    right: 50%;
    bottom: 43%;
    position: fixed;  
}

.img-top:hover {
    filter: blur(30px);
}

.img-bottom {
    top: 50%;
    left: 50%;
    position: fixed;  
}

.img-bottom:hover {
    filter: blur(30px);
}

.card-header{
    height: auto;
}

.header-image{
    margin: auto;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    
}
 
.card-content-image{
    bottom: 55px;
    display: flex;
    cursor: pointer;
    position: relative;
    transform: scale(1);
    justify-content: center;
    transition: transform 0.5s;
}

.card-content-image:hover{
    transform: scale(1.2);
}

.card-body{
    bottom: 55px;
    position: relative;
}

.card-info{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 10px;
}

.card-name{
    font-weight: 700;
    color:hsl(229, 23%, 23%);
}

.card-age{
    margin: 0px 10px;
    font-weight: 400;
    color:hsl(227, 10%, 46%);
}

.card-live{
    font-size: 18px;
    font-weight: 400;
    margin: -7px 0 15px;
    color:hsl(227, 10%, 46%);
    padding-top: 14px;
}

.card-follow{
    display: flex;
    padding-top: 25px;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid hsl(0, 0%, 91%);
}

.card-info-follow{
    text-align: center;
}

.card-numbers{
    margin: 0px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card-text{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    color: hsl(227, 10%, 46%);
    padding-top: 5px;
}


/* Attribution */

.attribution {
    font-size: 13px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .card {
        width: 325px;
        height: 385px;
    }

    .card-info{
        padding-top: 20px;
        padding-bottom: 10px;
    }
}
